p{
font-size: 64px;
margin:0;
padding: 0;
margin-left: 18%;
margin-right: 18%;
}

.diseño{
  max-width: 270px;
}
.textII{
  margin:0;
  padding: 0;
  color: #1B1818;
  font-family: 'Lato', sans-serif;
  margin-right: 18%;
  font-style: normal;
  font-weight: bold;
}
.textUX{
  margin-left: 18%;
  margin-right: 38%;
  padding: 0;
  color: #e0dcdc;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: bold;
  max-width: 210px;
}
body{
  display: flex;
  margin:0;
  padding: 0;
  min-height: 100vh;
  max-height: 100vh;
}

.uxContent, .iiContent{
min-width: 100%;
margin-top: 65%;

}

.ux{
  justify-content: space-between;
  background-image: url("../img/UX6.jpg");
  background-color: #fff;
  text-align: left;
  background-size: cover;
  min-width: 50%;
  min-height: 100vh;
}

.ii{
  justify-content: space-between;
  background-image: url("../img/II3.jpg");
  background-position: center;
  background-color: #000;
  text-align: right;
  background-size: cover;
  min-width: 50%;
  min-height: 100vh;
  }

.circle{
  position: fixed;
  align-items: center;
  right: 46%;
  top: 75%;
}
.logo{
  width: auto;
  height: 104px;
}
a{
  text-decoration: none;
}

p.diseño:hover{
  color: #ffaeef;
  font-size: 70px;
  max-width: 230px;
}

p:hover{
  color: #ffaeef;
  font-size: 70px;
}
